build/*
images/linux/*
ip_cache/*
components/*
.petalinux/usage_statistics
.petalinux/usage_statistics_token
*.old
*/system.xsa

*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
/components/plnx_workspace
/components/yocto
project-spec/hw-description/*
.Xil/*
system.bit
